/* ------------------------------------------------ */
/* Header styling */
/* ------------------------------------------------ */

.header-container {
  height: 4rem;
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  max-width: 1800px;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .header-wrapper {
    justify-content: center;
  }
}

/* ------------------------------------------------ */
/* Main Content styling */
/* ------------------------------------------------ */

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  max-width: 1800px;
  padding: 4rem 8rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

@media (max-width: 1600px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

.cv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

/* ------------------------------------------------ */
/* CV Form (Input) styling */
/* ------------------------------------------------ */

.cv-form-wrapper {
  width: 595px;
}

#cv-form input,
#cv-form textarea,
#cv-form button {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

#cv-form button {
  cursor: pointer;
}

#cv-form {
  border: 2px solid #01579b;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#cv-form h2 {
  font-weight: 400;
  color: #01579b;
  margin-bottom: 10px;
}

#cv-form label {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

#cv-form input {
  border: 1px solid #757575;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 5px;

  width: 100%;
}

#cv-form input::placeholder {
  text-transform: capitalize;
  color: #bdbdbd;
}

#cv-form input:focus {
  outline-color: #01579b;
}

#cv-form delete-icons i {
  position: absolute;
}

#cv-form .group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#cv-form .group:not(:last-child) {
  margin-bottom: 20px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#cv-form .btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 10px;
}

#cv-form button {
  color: #424242;
  border: 1px solid #424242;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: all 150ms;
}

#cv-form .btn-bullet:hover {
  transform: translateY(-2px);
}

#cv-form .btn-add:hover,
#cv-form .btn-delete:hover {
  transform: translateY(-2px);
}

#cv-form .group:not(:last-child) button.btn-add {
  display: none;
}

#cv-form .description-input {
  position: relative;
}

#cv-form .btn-add {
  border: 1px solid #003069;
  color: #003069;
}

#cv-form .btn-delete {
  border: 1px solid #003069;
  color: #003069;
}

#cv-form .delete-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0px;
  right: -21px;
  width: 20px;
  height: 30px;
  color: #b71c1c;
  font-size: 1rem;
}

#cv-form .delete-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* ------------------------------------------------ */
/* CV Preview (Output) styling */
/* ------------------------------------------------ */

.cv-preview-wrapper {
  padding: 50px;
  width: 595px;
  min-width: 595px;
  height: 842px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);

  position: sticky;
  top: 20px;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Header styling */
/* ------------------------------------------------ */

#cv-preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  top: 0px;
}

#cv-preview header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--light-green);
  padding-bottom: 12px;
}

#cv-preview h1 {
  color: var(--dark-green);
  text-transform: uppercase;
}

#cv-preview h2 {
  color: var(--grey);
}

#cv-preview .heading {
  display: flex;
  flex-direction: column;
}

#cv-preview .details-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Contact styling */
/* ------------------------------------------------ */

#cv-preview .contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#cv-preview .details-text {
  font-size: 1rem;
}

#cv-preview img {
  width: 14px;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Summary styling */
/* ------------------------------------------------ */

#cv-preview .summary {
  font-size: 0.9rem;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Education styling */
/* ------------------------------------------------ */

#cv-preview .education-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

#cv-preview .education-list h3 {
  text-transform: uppercase;
  color: var(--blue);
}

#cv-preview .education {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

#cv-preview .education-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#cv-preview .education-heading h4 {
  color: #212121;
  font-weight: 600;
}

#cv-preview .education-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#cv-preview .education-info .degree {
  font-style: italic;
}

#cv-preview .education-details,
h4,
.education-details {
  color: var(--grey);
}

#cv-preview .education-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}

#cv-preview .education-list .bold {
  font-weight: 600;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Experience styling */
/* ------------------------------------------------ */

#cv-preview .experience-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

#cv-preview h3 {
  text-transform: uppercase;
  color: var(--blue);
}

#cv-preview .experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

#cv-preview .experience-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#cv-preview .experience-heading h4 {
  color: #212121;
  font-weight: 600;
}

#cv-preview .experience-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#cv-preview .experience-details,
h4,
.experience__details {
  color: var(--grey);
}

#cv-preview .experience-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
}

#cv-preview .bold {
  font-weight: 600;
}

#cv-preview .experience-description {
  margin-left: 2.5rem;
}

#cv-preview .italic {
  font-style: italic;
}

/* ------------------------------------------------ */
/* CV Preview (Output) Skills styling */
/* ------------------------------------------------ */

#cv-preview .skills-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

#cv-preview .skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

#cv-preview .skill-name {
  color: #212121;
  font-weight: 600;
}

/* ------------------------------------------------ */
/* CV Form side buttons styling */
/* ------------------------------------------------ */

.side-btn-group {
  margin-top: 1rem;
  width: 0px;
  height: 842px;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  position: sticky;
  top: 20px;
}

.side-btn-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-btn {
  color: #f4f4f4;
  background-color: #3b5998;
  outline: none;
  border: none;

  width: 100px;
  border-radius: 5px;
  padding: 8px;

  font-size: 1rem;
}

.side-btn:hover {
  background-color: #003069;
  cursor: pointer;
}

.notification {
  background-color: #3b5998;
  color: #fff;
  font-size: 1rem;
  position: fixed;
  bottom: 10px;
  right: -310px;
  width: 300px;
  height: 100px;
  transition: all 200ms ease-in-out;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  transition: all 200ms ease-in-out;
  right: 10px;
}

.hide {
  right: -310px;
}
