body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

#cv-form input,
#cv-form textarea,
#cv-form button {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

#cv-form button {
  cursor: pointer;
}

/* Styling */
#cv-form {
  border: 2px solid #01579b;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#cv-form h2 {
  font-weight: 400;
  color: #424242;
  margin-bottom: 20px;
}

#cv-form .group label {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

#cv-form .group input::placeholder {
  text-transform: capitalize;
}

#cv-form input {
  border: 1px solid #757575;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 10px;
}

#cv-form .group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#cv-form .group:not(:last-child) {
  margin-bottom: 20px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#cv-form .btn-group {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

#cv-form button {
  color: #000;
  border: 1px solid #424242;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 150ms;
}

#cv-form .btn-group .btn-add {
  color: #3b5998;
}

#cv-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.1);
}

/* #cv-form .group:not(:last-child) button.btn-add {
  display: none;
} */

/* ------------------------------------------------ */
/* Header styling */
/* ------------------------------------------------ */

.header-container {
  height: 3rem;
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  max-width: 1800px;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 1600px) {
  .header-wrapper {
    justify-content: center;
  }
}

/* ------------------------------------------------ */
/* Main Content styling */
/* ------------------------------------------------ */

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  max-width: 1800px;
  padding: 4rem 8rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

@media (max-width: 1600px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
}

/* ------------------------------------------------ */
/* CV Form styling */
/* ------------------------------------------------ */

.cv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.cv-form {
  width: 595px;
}

.cv-preview {
  padding: 50px;
  width: 595px;
  min-width: 595px;
  height: 842px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 5px 0 6px 0 hsl(0 0% 0% / 0.2);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

/* ------------------------------------------------ */
/* CV Form Contact styling */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* CV Form Experience styling */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* CV Form Input styling */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* CV Preview styling */
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* Footer styling */
/* ------------------------------------------------ */

.footer-container {
  background-color: #424242;
  color: #fff;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.4rem;
  font-size: 0.7rem;
}
